<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Frontend-Devtools</title>
  <link href="scripts/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="scripts/cover-bootstrap/cover-bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="styles/main.css" rel="stylesheet" type="text/css"/>
  <script src="scripts/socket.io.js"></script>
  <script src="scripts/jquery-1.10.2.min.js"></script>
  <script type="text/javascript"  src="scripts/vue-v1.0.12.js"></script>
  <script type="text/javascript"  src="scripts/vue-strap.min.js"></script>
</head>
<body>
  <div id="app" class="app">
    <div class="app__left">
      <div class="app__header">
        <img src="images/icon.png"/>
        前端命令工具
        <button v-on:click="open" class="btn btn-default btn-sm pull-right" style="margin-top: 4px; margin-right: 10px;">添加项目</button>
        <div class="btn-group" style="margin-left: 30px;">
          <button class="btn btn-default btn-sm" v-for="project in projects">{{project.name}}</button>
        </div>
      </div>
      <div class="app__body">
        <div class="app__left fixed">
          <div class="app__header">任务列表
            <button v-on:click="open" class="btn btn-default btn-sm pull-right" style="margin-top: 4px; margin-right: 10px;">修改项目</button>
          </div>
          <div class="app__body">
            <div class="task__item" v-for="task in currentProject.tasks">{{task.name}}</div>
          </div>
        </div>
        <div class="app__right">
          <div class="app__header"><b>输 出</b></div>
          <div class="app__body"></div>
        </div>
      </div>
    </div>
    <div class="app__right fixed">
      <div class="app__header">正在运行</div>
      <div class="app__body">
        <div class="task__item" v-for="item in backgroundTasks">{{item.name}}
          <button class="btn btn-danger btn-xs pull-right" style="margin-top: 4px;">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
      </div>
    </div>
    <modal :show.sync="opening" effect="fade" :width="400">
      <div slot="modal-header" class="modal-header">
        <button type="button" class="close" v-on:click="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">项目信息</h4>
      </div>
      <div slot="modal-body" class="modal-body">

      </div>
      <div slot="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" v-on:click="close">取消</button>
        <button type="submit" class="btn btn-primary btn-sm" v-on:click="confirm">确认</button>
      </div>
    </modal>
  </div>
  <script type="text/x-template" id="background">
    
  </script>
  <script src="app.js"></script>
</body>
</html>